* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", "system-ui", cursive, sans-serif;
  transition: all 0.2s;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  box-sizing: border-box;
  height: fit-content;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  background-color: var(--white);
}
/*-----
   dark mode
  -----*/
  :root {
    --white: #fff;
    --black: #000;
    --footer: #eeeeeea6;
    --text: rgba(0, 0, 0, 0.92);
   }
   .dark-theme {
    --white: #030303;
    --black: #fff;
    --footer: #0f0f0f;
    --text: rgba(255, 255, 255, 0.92);
   }
   #icon {
     width: 30px;
     cursor: pointer;
     user-select: none;
   }
/*-----
   header
  -----*/
header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  transition: 0.4s;
  padding: 10px 0;
  /* position: sticky; */
  z-index: 100000;
  background-color: var(--white);
}
/* header .logo {
  margin-top: 5px;
  color: var(--black);
  text-transform: uppercase;
  transition: 0.4s;
} */
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
}
header ul li a {
  position: relative;
  color: var(--text);
  margin: 0 15px;
  letter-spacing: 1px;
  font-weight: 570;
  transition: 0.4s;
}
header ul li a.lang {
  color: crimson;
  font-weight: 600;
}
.banner {
  position: relative;
  width: 100%;
  height: 100px;
}
header.sticky .logo,
header.sticky ul li a {
  color: var(--text);
}
.logo img {
  width: 170px;
  height: auto;
  position: relative;
  right: 33px;
}
header.sticky .logo img {
  width: 110px;
}
#home {
  background-color: crimson;
  border-radius: 30px;
  padding: 4px 16px;
  color: #fff;
}
header .menutoggle {
  display: none;
}
/*--------
   menu Toggle
---------*/
@media (max-width: 870px) {
  header {
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  header .navigation {
    display: none;
  }
  header .menutoggle {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    color: var(--black);
    position: relative;
    left: 20px;
  }
  /* header .header-logo {
    position: relative;
    left: 20px;
  } */
  header .navigation.active {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--white);
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
    animation: slide 0.2s ease;
    user-select: none;
    z-index: 999;
  }
  header .navigation li {
    margin-left: 0;
    padding: 0.5rem 0;
  }

  @keyframes slide {
    0% {
      right: -100px;
    }
    100% {
      right: 0;
    }
  }
  * {
    cursor: default;
  }
}
/*-----
   content
  -----*/
.content {
  position: relative;
  margin-top: 100px;
  margin-right: 70px;
}
.content .text-box {
  position: relative;
  /* max-width: 650px; */
}
.content .text-box h3 {
  color: var(--text);
  font-size: 2.5rem;
  line-height: 1.4em;
  font-weight: 500;
  cursor: default;
}
.text-box h3 span {
  /* font-size: 1.2em; */
  font-weight: 900;
  color: crimson;
}
/* h3 img {
  position: relative;
  top: 0px;
} */
.content .text-box p {
  color: var(--text);
  margin-top: 5px;
  font-size: 17px;
}
.content .text-box a {
  display: inline-block;
  margin-top: 12px;
  padding: 4px 16px;
  background-color: crimson;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
/*-----
   goals
  -----*/
  .goals {
  margin-right: 70px;
  }
  div.goals h4 , .founder-title h4 {
  font-size: 25px;
  font-weight: 500;
  color: var(--black);
  margin: auto;
  margin-top: 30px;
  border-bottom: 3px solid crimson;
  width: fit-content;
  text-align: center;
  cursor: default;
  }
  div.goals h4 {
   position: relative;
   left: 35px;
   /* top: 450px; */
  }
ol {
  margin-top: 10px;
  position: relative;
  left: 15px;
  max-width: 1000px;
}
ol li {
  font-size: 18px;
  padding: 10px;
}
ol li span {
  padding: 0 9px;
  border-radius: 7px;
  color: white;
  background-color: crimson;
  margin: 2px 6px 2px 0;
  font-size: 16px;
  cursor: default;
  user-select: none;
  display: inline-block;
}
ol li p {
  margin-right: 3px;
  font-size: 17px;
  color: var(--text);
  display: inline-block;
}
@media (max-width: 870px) {
  ol {
    margin-top: 10px;
    position: relative;
    left: 40px;
  }
  ol li span {
    margin: 2px 0 2px 4px;
    font-size: 12px;
  }
  ol li {
    font-size: 15px;
    font-weight: 550;
    padding: 3px 0;
    margin: 0;
  }
}
/*-----
   founder
  -----*/
/* .parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.founder-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.description {
  margin: 70px 70px 0 0;
  max-width: 700px;
  color: var(--text);
}
.founder-img {
  /* margin: 20px 0 0 90px; */
  margin-top: 20px;
  margin-left: 90px;
}
.founder-img h2 {
  cursor: default;
  color: var(--text);
  font-weight: 500;
  position: relative;
  right: 38px;
}
.founder-img img {
  width: 230px;
  height: auto;
  border-radius: 50%;
}
/* .founder-img p {
  font-size: 17px;
  color: var(--text);
}
.founder-img p a {
  color: crimson;
  font-weight: 700;
} */
.founder-social {
  margin: 5px 25px 0 0;
}
.founder-social i {
  color: royalblue;
  font-size: 26px;
  padding: 0 0 0 25px;
}
.founder-social i:hover {
  color: #1b1b1b;
}
.founder-youtube i {
  color: red;
}
.founder-instagram i {
  color: #e52e71;
}
/*-----
   footer
  -----*/
footer {
  margin-top: 30px;
  padding: 5px 100px;
  background-color: var(--footer);
  color: var(--text);
  text-align: center;
  position: sticky;
  top: 100%;
  display: flex;
  justify-content: space-around;
}
footer p.copyright {
  cursor: default;
  user-select: none;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  color: var(--text);
  margin: 0 15px;
  letter-spacing: 1px;
  font-weight: 570;
  transition: 0.4s;
}
/*-----
   responsive
  -----*/
@media (max-width: 1150px) {
  header {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  header .menutoggle {
    display: flex;
    font-size: 22px;
    cursor: pointer;
  }
  header ul.navigation {
    display: none;
  }
  header .logo {
    position: relative;
    left: 13px;
  }
  .founder-img {
  margin-left: 70px;
  margin: auto;
  }
  .description {
    margin-bottom: 20px;
  }
  .founder-social {
    margin-right: 36px;
  }
  .founder-social i {
    font-size: 20px;
  }
  * {
    cursor: default;
  }
}
@media (max-width: 910px) {
  .description {
    margin-top: 20px;
    width: 93%;
  }
  * {
    cursor: default;
  }
}
@media screen and (max-width: 680px) {
  header .logo img {
    width: 135px;
  }
  .menutoggle {
    font-size: 20px;
  }
  .content, .goals ol , .description {
    width: 90%;
    margin-top: 20px;
    margin-right: 20px;
  }
  .content {
    margin-top: 100px;
  }
  .goals ol {
    position: relative;
    left: 70px;
    width: 100%;
  }
  footer {
    padding: 5px 10px;
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .content .text-box h3 {
    font-size: 2rem;
  }
  .text-box h3 img {
    width: 120px;
    height: auto;
    position: relative;
    top: 2px;
  }
}